* {
	margin: 0;
	padding: 0;
}
[ng-click],
[ui-sref]{
	cursor: pointer;
}
html {
	font-size: 14px;
}
body {
	font-family : 'Roboto';
	overflow: hidden;
	position: relative;
	background: #230F26;
	background: -webkit-linear-gradient(to right, #081023, #230F26, #0B1035);
	background: linear-gradient(to right, #081023, #230F26, #0B1035);
	color: white;
}
body, html, #container {
	height: 100%;
}
.columns {
	display: flex;
}
.columns {
	align-items: center;
}
.columns > * {
	flex-grow: 1;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
}
h3 {
	font-size: 1.3em;
}
h5 {
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 1rem;
}
li {
	list-style: none;
}
button {
	border: 1px solid white;
	border-radius: 20px;
	background: none;
	color: white;
	padding: 8px 30px;
}
::-webkit-scrollbar { width: 1vw; z-index: 9000; }
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,.08); }
::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,.2); }




/* Container */

main {
	padding: 7vh 10vw 5vh;
	flex-grow: 1;
    transition: all .2s ease;
}
#container {
	position: absolute;
	width: 100vw;
	transition: all .5s ease;
	left: 0;
	background: url('/assets/images/bg.png');
	background-size: cover;
	display: flex;
}
#single-video-container {
	position: absolute;
	height: 100vh;
	left: 100vw;
	transition: all .5s ease;
	width: 85vw;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 0;
}
#single-video-container.active {
	left: 15vw;
	max-width: 100vw;
}
#container.collapsed {
	left: -85vw;
}
#container.collapsed > main {
	overflow: hidden;
	pointer-events: none;
}
#container > * {
	overflow-y: auto;
}




/* Search */

#search-outer {
    align-items: center;
    background: #a565b8;
    background: linear-gradient(to left, #fe866c, #a565b8);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    font-size: 2.5rem;
    height: 65px;
    position: fixed;
    right: 0;
    top: 6vh;
    left: 95vw;
    z-index: 2;
    transition: all .5s ease;
}
#container.collapsed #search-outer {
    right: 85vw;
    left: 10vw;
}
#container:not(.collapsed) #search-outer.visible {
	left: 17vw;
	right: 0;
	width: 84vw;
}
#search-outer #icon-container {
   	padding: 8px 2vw;
	width: 30px;
	text-align: center;
}
#search-outer img {
	height: 30px;
	margin-right: 2vw;
}
#search-inner {
	display: flex;
	flex-grow: 1;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: all .5s ease;
}
#container:not(.collapsed) #search-outer.visible #search-inner {
	opacity: 1;
	overflow: auto;
    padding: 10px 2vw 10px 0;
}
#search-inner input {
	background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    flex-grow: 1;
}
#search-inner input:focus {
	outline: none;
}
#search-inner input::placeholder {
	color: rgba(255,255,255,.6);
}
#search-inner .close {
	margin-left: 2vw;
	flex-grow: 0;
	flex-shrink: 0;
}
#container.search-open main {
	padding-top: 20vh;
}




/* Sidebar */

.sidebar {
	flex-shrink: 0;
	padding: 7vh 0 4vh 5vw;
	height: 90vh;
	min-height: 690px;
	writing-mode: vertical-lr;
}
.sidebar a {
	color: white;
	font-size: 1.2rem;
	letter-spacing: .05rem;
	text-decoration: none;
}
.sidebar a.active {
	color: #fe866c;
}
.sidebar ul {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	white-space:nowrap;
}
.sidebar li {
	display: inline-block;
	/*flex-grow: 0;*/
	/*flex-shrink: 0;*/
	text-align: center;
}
.sidebar nav li:not(.logo) {
	height: 13vh;
}
.sidebar .logo {
	height: 36vh;
	text-align: right;
}
.sidebar .logo h1 {
	font-size: 6vh;
	font-family: 'Monoton';
	font-weight: 400;
	background: -webkit-linear-gradient(to right, #fe866c, #a565b8);
	background: -moz-linear-gradient(to right, #fe866c, #a565b8);
	background: -o-linear-gradient(to right, #fe866c, #a565b8);
	background: linear-gradient(to right, #fe866c, #a565b8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sidebar .logo,
.sidebar .tagline {
	user-select: none;
}
.sidebar li:nth-of-type(5) {
	text-align: left;
}
.tagline {
	display: inline-block;
	margin-left: 10px;
}
.sidebar nav li,
.tagline {
	transform: rotate(180deg);
}



/* Filters */

.filters {
	width: 100%;
}
.filters a {
	font-size: 1.1rem;
	text-transform: uppercase;
	display: inline-block;
	z-index: 1;
}
.filters li {
	display: inline-block;
	position: relative;
}
.main-filters li a {
	border: 1px solid white;
	padding: 8px 30px;
	margin: 0 15px 15px 0;
	border-radius: 20px;
	transition: all .5s ease;
}
#container:not(.search-open) .main-filters li:not(.closed) a:hover,
.main-filters .active a,
.main-filters .open a {
	border-color: #FF876C;
	background: rgba(255, 135, 108, .09);
	color: #FF876C;
}
.main-filters .active a {
	font-weight: 600;
}
.main-filters .closed a,
.search-open .main-filters a {
    border-color: rgba(255,255,255,.2);
    color: rgba(255,255,255,.2);
}
.main-filters .active.closed a {
	background: rgba(255, 135, 108, .04);
}
.main-filters .open:hover a,
.main-filters .closed:hover a,
.search-open .main-filters li:hover a {
	cursor: default;
}
.filters .pane {
	max-height: 0;
	opacity: 0;
	transition: all .4s ease;
}
.filters .pane.open,
.pink-bg {
	background: rgba(255, 135, 108, .09);
	border-radius: 8px;
}
.filters .pane.open {
	max-height: 600px;
	margin-top: 20px;
	opacity: 1;
	padding-right: 40px;
}
.filters h5 {
	color: #FF876C;
	padding: 20px 0 15px 40px;
}
.filter-options a {
	margin: 0 0 15px 40px;
}
.filter-options .active:not(.strikethrough) a:after {
	content: '\2713';
	color: #FF876C;
	font-size: .9rem;
	padding-left: 5px;
}
.filter-options li:not(.action):not(.strikethrough) a:hover {
	color: #bbb;
}
.filter-options .active.strikethrough a,
.filter-options .strikethrough a:hover {
	color: #FF876C;
	text-decoration: line-through;
}
.filter-options .active.strikethrough span,
.filter-options .strikethrough a:hover span{
	color: rgba(255,255,255,.13);;
}
.filters .pane .save-links a {
    margin: 10px -30px 20px 40px;
    color: #FF876C;
    border: 1px solid #FF876C;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: .9rem;
}
.filters .pane .save-links .clear {
    color: #aaa;
    border-color: #aaa;
}
.no-results {
    padding: 20vh 10vw;
    border: 1px dashed rgba(255,255,255,.2);
    border-radius: 20px;
    text-align: center;
    margin-top: 5vh;
    font-size: 3rem;
}




/* Videos */

.video-category:not(.search-results) {
	margin: 60px 0;
}

.video-category header .category-details {
	margin-bottom: 2vh;
}

.video-category h1 {
	margin-bottom: 20px;
}

.video-category header h3 {
	width: 25%;
	min-width: 130px;
}

.video-category .hide {
	text-align: right;
}
.video-category .hide .btn {
	font-size: 1.5rem;
}

.video-category .hide h5 {
	display: inline-block;
	margin-bottom: 0;
}

.video-category .hide h5 strong {
	margin-right: 10px;
}

.video-category .posters {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%
}

.video-category .poster {
	flex: 0 0 15.8%;
	margin-bottom: 1%;
	transition: all .2s ease;
	position: relative;
}
.video-category .poster:not(:nth-of-type(6n)) {
	margin-right: 1%;
}
.video-category.edit .poster {
	flex: 0 0 13.3%;
	margin-bottom: 30px;
}
.video-category.edit .poster:not(:nth-of-type(6n)) {
	margin-right: 4%;
}
.video-category .poster img {
	width: 100%;
}
.video-category .show-more li {
	display: inline-block;
}
.video-category .edit-btn {
	text-align: center;
}
.filter-query {
	font-size: 1.8rem;
	margin-bottom: 20px;
}




/* Show More */

.show-more,
.separator {
	display: flex;
}
.separator {
	list-style: none;
}
.bg-container {
	flex-grow: 1;
	position: relative;
	margin-bottom: 10px;
}
.bg {
	position: absolute;
	height: 10px;
	border-bottom: 1px solid #FF876C;
	width: 100%;
}
.text {
	flex-shrink: 0;
	padding-left: 15px;
	/*width: 100%;*/
}
.separator li:not(:last-child) h5:after {
	content: "\25CF";
	color: #FF876C;
	padding: 0 10px;
}




/* Single Video */

#single-video-container {
	background: #16222A;
	background: -webkit-linear-gradient(to bottom, #3d1843, #27323a);
	background: linear-gradient(to bottom, #3d1843, #27323a);
}
#single-video-container h1 {
	font-family: 'Roboto';
	font-size: 3rem;
}
#single-video-container .columns {
	align-items: stretch;
}
#single-video-container .video-body > * {
	/*overflow-y: auto;*/
}
#single-video-container .single-poster {
	/*width: 60vw;*/
	/*min-width: 250px;*/
	/*margin: 3vw 4vw;*/
	padding: 5vh 0 5vh 5vh;
}
#single-video-container .single-poster img {
	/*width: 100%;*/
	height: 90vh;
}
#single-video-container .main-content {
	margin: 30px 10vw 3vw 5vw;;
}
#single-video-container .main-content .close {
	text-align: right;
	font-size: 3rem;
	position: absolute;
	right: 2vw;
	top: 2vw;
}
#single-video-container .info {
	margin: 1vh 0 6vh;
}
#single-video-container .info li {
	font-size: 1.8rem;
}
#single-video-container .info li:not(:first-child) {
	margin-left: 20px;
}
#single-video-container .info li,
#single-video-container .info li h5 {
	display: inline;
	list-style: none;
}
#single-video-container .info li:not(:last-child):not(.user-rating):after {
	/*content: "\25CF";*/
	/*color: #FF876C;*/
	/*padding: 0 5px 0 10px;*/
}
#single-video-container .quality {
	margin: 6vh 0;
	padding: 8px 20px;
	border-top: 1px solid rgba(250,84,75,.2);
	border-bottom: 1px solid rgba(250,84,75,.2);
	justify-content: space-between;
}
#single-video-container .quality h5 {
	margin-bottom: 0;
}
#single-video-container .quality li {
	list-style: none;
}
#single-video-container .quality .columns {
	flex: 0;
	align-items: center;
}
#single-video-container .quality img {
	margin-right: 10px;
}
#single-video-container section {
	margin-top: 5vh;
}
#single-video-container .synopsis,
#single-video-container .crew {
	font-size: 1.2rem;
	line-height: 1.5rem;
}
#single-video-container .crew {
	text-transform: capitalize;
}
#single-video-container .synopsis h5,
#single-video-container .crew h5 {
	margin-bottom: 5px;
}
#single-video-container .crew li {
	margin-bottom: 5px;
}
.star-rating {
	font-size: 1.5rem;
	color: #FF876C;
}
#single-video-container .watch-options {
	/*width: 500px;*/
	margin-top: 6vh;
	justify-content: space-between;
}
#single-video-container .watch-options > * {
	flex-shrink: 0;
	flex-grow: 0;
}
#single-video-container .watch-options h5 {
	text-align: center;
}
#single-video-container .watch-options li {
	display: inline-block;
	list-style: none;
}
#single-video-container .play-btn {
	background: #FA544B;
	border-radius: 32px;
	color: white;
	width: 180px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 5px 15px;
	margin-right: 30px;
}
#single-video-container .play-btn h2 {
	font-size: 1.3rem;
}
#single-video-container .play-btn .icon {
	font-size: 2rem;
}
#single-video-container .other-options .player-icon {
	margin-right: 5px;
}
#single-video-container .other-options h5 {
	margin: 5px 0 0;
}
#single-video-container .other-options h5,
#single-video-container .quality h5 {
	text-transform: capitalize;
}

#single-video-container .crew ul {
	margin-bottom: 30px;
}




/* Header */

header.page {
	padding: 5vh 10vw;
	text-align: center;
	/*max-width: 950px;*/
	margin: 0 auto;
	background: rgba(255, 135, 108, .09);
	border-radius: 8px;
	margin-bottom: 8vh;
}
h1 {
	font-size: 2.5rem;
}
p {
	font-size: 1rem;
    line-height: 1.5rem;
}
header.page button {
    /*background: rgba(255, 135, 108, .09);*/
    background: none;
    color: #FF876C;
	border: 1px solid #FF876C;
	border-radius: 20px;
	margin-top: 4vh;
	padding: 10px 20px;
}
header.page h5 {
	margin-bottom: 0;
}




/* Collections */

.collections-container {
	display: flex;
	flex-wrap: wrap;
}
.video-collection {
	flex: 0 0 46%;
	margin-bottom: 60px;
}
.video-collection:nth-of-type(2n) {
	margin-left: 6%;
}
.video-collection .posters {
	list-style: none;
}
.video-collection .poster {
	display: inline-block;
	margin-right: -5%;
	width: 23.35%;
	/*background: #111;*/
}
.video-collection .poster img {
    border: 1px solid #333;
    border-radius: 6px;
	width: 100%;
}
.video-collection .poster:not(:first-child) img {
	box-shadow: -6px 0 15px #000;
}

.video-collection .info {
	margin-top: 20px;
}

.video-collection .info h5 {
	margin-bottom: 5px;
}




/* Sync Groups */

.sync-groups {
	text-align: center;
}
.sync-groups li {
	display: inline-block;
    position: relative;
}
.sync-groups li:not(:last-child) {
    margin-right: -75px;
}
.sync-groups li:not(:first-child) {
    border-radius: 100px;
    clip-path: polygon(50% 0, 100% 0, 100% 44%, 100% 83%, 100% 100%, -3% 100%, 44% 77%, 40% 52%, 45% 38%, 14% 0);
}
.sync-groups li img,
.sync-groups .user-icon{
	width: 175px;
}
.sync-groups .user-icon {
	border: 1px solid white;
	border-radius: 100px;
	height: 175px;
}
.sync-groups li .name {
	position: absolute;
	bottom: 20px;
	left: 72px;
	margin-bottom: 0;
}
.sync-groups .add {
	opacity: .3;
	transition: all .2s ease;
}
.sync-groups .add:hover {
	opacity: 1;
}
.sync-groups h2 {
	margin-top: 3vh;
}
.sync-groups h2,
.sync-groups h5 {
	/*text-transform: uppercase;*/
}
.sync-groups h2 .edit {
	display: inline-block;
	margin-left: 10px;
}
header .btn-group {
	justify-content: center;
	align-items: flex-start;
}
header .btn-group > * {
	flex-grow: 0;
}
header .btn-group .dropdown {
	margin-left: 20px;
}
.sync-groups .confirm-delete {
	margin-top: 10px;
}
.sync-groups .confirm-delete,
.sync-groups h2 input {
	display: none;
}
.sync-groups h2 input {
	background: none;
	color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    text-transform: none;
}
.sync-groups h2 input.show,
.sync-groups h2 .name {
	display: inline-block;
}
.sync-groups .confirm-delete.show{
	display: block;
}
.sync-groups h2 .name.hide {
	display: none;
}



/* Single Collection */

.single-collection .columns {
	align-items: center;
}
.single-collection .details {
    margin-right: 5vw;
    width: 18vw;
    min-width: 325px;
    flex-grow: 0;
    flex-shrink: 0;
}
.single-collection .comment {
	border-top: 1px solid rgba(255,255,255,.2);
	padding: 2vh 0;
}
.single-collection .comment .icon {
	width: 30px;
	flex: 0 0 auto;
}
.single-collection .comment img {
	width: 100%;
}
.single-collection button {
	padding: 8px 15px;
	margin-bottom: 20px;
}
.single-collection button h5 {
	margin-bottom: 0;
}
.single-collection .details span {
	display: inline-block;
	margin-top: 20px;
}
.single-collection .desc {
	padding: 30px 0 20px;
	border-top: 1px solid rgba(255,255,255,.2);
	margin-top: 30px;
}





/* Single Collection Edit */

.single-collection.edit .details {
	/*width: 25vw;*/
}

.single-collection.edit textarea {
	min-height: 90px;
	padding: 20px 5%;
	border: 1px solid white;
	border-radius: 10px;
	width: 90%;
	font-size: 1rem;
}
.single-collection.edit textarea,
.single-collection.edit input {
	background: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}
textarea:focus,
input:focus {
	outline: none;
}
.single-collection.edit input {
	border: none;
	border-bottom: 1px solid white;
	width: 100%;
	font-size: 2rem;
	padding-bottom: 5px;
}
.single-collection.edit button.save {
	border-color: #fe866c;
	color: #FE866C;
}
.single-collection.edit button.close {
	margin-left: 15px;
	padding: 8px 15px;
}
.single-collection.edit .videos {
	border: 1px dashed rgba(255,255,255,.2);
	padding: 30px;
	border-radius: 20px;
	min-height: 80vh;
}
.single-collection.edit .no-videos {
	display: flex;
	align-items: center;
	height: 70vh;
	font-size: 3rem;
}
.single-collection.edit .no-videos div {
	margin: 0 auto;
}
.single-collection.edit .my-collections {
	padding: 20px;
	margin-top: 40px;
}
.single-collection.edit .my-collections li:not(:last-of-type) {
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding-bottom: 10px;
}
.single-collection.edit .my-collections .name:hover {
	color: #fe866c;
}
.single-collection.edit .my-collections .edit {
	flex-grow: 0;
	flex-shrink: 0;
}


/* Dropdown Button */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
	background: none;
	border: 1px solid white;
	border-radius: 20px;
	color: white;
	padding: 8px 20px;
	text-transform: uppercase;
}
.dropdown-btn:hover, .dropdown-btn:focus {

}
.dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: auto;
  z-index: 1;
}
.dropdown-content.show {
	max-height: 600px;
	transition: all .4s ease;
	opacity: 1;
}
.dropdown-content a {
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
}
.dropdown a:hover {
	color: #fe866c;
	border-color: #fe866c;
}




/* Wayfinder */
.wayfinder header h2 {
    max-width: 600px;
    margin: 0 auto;
}
.wayfinder .question,
.wayfinder .results {
	text-align: center;
	margin-bottom: 5vh;
    top: 5vh;
    position: relative;
}
.wayfinder .question h2:not(.category) {
	font-style: italic;
}
.wayfinder .question h1.category {
	margin-top: 30px;
}
.wayfinder .question .stem {
	margin: 0 auto 50px;
	display: inline-block;
	text-align: left;
}
.wayfinder .question .stem .number {
	color: gray;
    margin-bottom: 5px;
    display: inline-block;
}
.wayfinder .question .inner {
}
.wayfinder .question .container {
	text-align: center;
	border: 1px solid #fe866c;
	border-radius: 20px;
	padding: 5vw;
	width: 50vw;
	margin: 0 auto;
}
.wayfinder .question button {
	margin-bottom: 20px;
    border-color: #a565b8;
    font-size: 1.6rem;
    width: 200px;
}
.wayfinder .question button:hover {
	border-color: rgba(255,255,255,0);
    background: #a565b8;
    background: linear-gradient(to right, #fe866c, #a565b8);
}
.wayfinder .question .icons {
	margin-top: 30px;
}
.wayfinder .question .icons li {
	display: inline-block;
}
.wayfinder .question .icons li:not(:last-child) {
	margin-right: 20px;
}
.wayfinder .question .icons img {
	width: 75px;
}
.wayfinder .question .done,
.wayfinder .results span {
	margin-top: 20px;
	color: gray;
	display: inline-block;
	margin-bottom: 5px;
}
/* Type 1: Quiz Type */
.wayfinder .question.type-1 li {
	display: inline-block;
	font-size: 2rem;
	padding: 20vh 5vw;
	text-transform: capitalize;
}
.wayfinder .question.type-1 li:nth-of-type(1) {
	border-right: 1px solid #a565b8;
}
/* Type 3: Aesthetic */
.wayfinder .question.type-3 .container {
	padding: 3vw;
}
.wayfinder .question.type-3 img:not(.icon) {
	width: 100%;
}
/* Type 4: Thumbs Up */
.wayfinder .question.type-4 li {
	display: inline;
}
.wayfinder .question.type-4 img:not(.icon) {
	width: 20%;
}
.wayfinder .question.type-4 li:not(:last-child) img {
	margin-right: 2%;
}
/* Type 5: Multiselect */
.wayfinder .question.type-5 .container {
	padding: 3vw;
}
.wayfinder .question.type-5 li {
	display: inline-block;
	width: 30%;
}
.wayfinder .question.type-5 .circle {
    border-radius: 100px;
    border: 1px solid #fe866c;
    width: 58%;
    padding: 47px 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
    display: inline-block;
    text-transform: capitalize;
}
.wayfinder .question.type-5 .circle:hover,
.wayfinder .question.type-5 .circle.active {
	border-color: rgba(255,255,255,0);
    background: #a565b8;
    background: linear-gradient(to right, #fe866c, #a565b8);
}
/* Type 6: Slider */
.wayfinder .question.type-6 .pair {
	display: flex;
	align-items: center;
}
.wayfinder .question.type-6 .pair:not(:nth-of-type(3)) {
	margin-bottom:30px;
}
.wayfinder .question.type-6 .pair span {
	padding: 0 20px;
	width: 150px;
	font-size: 1.2rem;
}
.wayfinder .question.type-6 .pair span.left {
	text-align: right;
}
.wayfinder .question.type-6 .pair span.right {
	text-align: left;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #a565b8;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #a565b8;
  background: linear-gradient(to right, #fe866c, #a565b8);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #a565b8;
  background: linear-gradient(to right, #fe866c, #a565b8);
  cursor: pointer;
}
/* Type 7: Qualifiers */
.wayfinder .question.type-7 button.active {
	border-color: rgba(255,255,255,0);
    background: #a565b8;
    background: linear-gradient(to right, #fe866c, #a565b8);
}
/* Type 8: Versus */
.wayfinder .question.type-8 .inner-container {
	display: flex;
	align-items: center;
}
.wayfinder .question.type-8 img {
	width: 65%;
	margin: 0 5%;
}
.wayfinder .question.type-8 .vs {
	color: #a565b8;
	font-size: 4rem;
}
.wayfinder .results {
	text-align: left;
	margin: 0 auto;
}
.wayfinder .results,
.wayfinder .question .container {
	max-width: 750px;
}
.wayfinder .results ul {
	display: flex;
}
.wayfinder .results li:not(:last-child) {
	border-top: 1px solid #a565b8;
	margin-top: 20px;
	padding-top: 20px;
}
.wayfinder .results li:last-child {
	margin-top: 41px;
}
.wayfinder .results li:not(:first-child) {
	border-bottom: 1px solid #a565b8;
	padding-bottom: 20px;
}
.wayfinder .results img {
	width: 100%;
}
.wayfinder .results .retake {
	text-align: right;
}